body{
    margin: 0;
    background-color: #dfdbd2;
}


/*---------------
Heading fonts
-----------------*/
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Cormorant", serif;
}

/*---------
Viev More section 
-----------*/
.viewmore a{
    text-decoration: none;
    color: #D4AF37;
    font-size: 20px;
}




/*---------------
Header section 
-----------------*/
.mobilelogo{
    display: none;
}
.nav{
    display: none;
}
.hamburger{
    display:none;
    font-size:30px;
    color:white;
    cursor:pointer;
}
#menu{
    display:none;
}
.mobilenavbar{
    display: none;
}
header{
    background-color: #0B0B0B;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    height: 100px;
    width: auto;
    position: sticky;
    top: 0px;
    z-index: 1000;
}
.headerflex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 13px;
    margin: 0;
}
.headerlogo img{
    height: 60px;
    width: 150px;
}
.navbar li{
    margin-right: 20px;
    
}
.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}
.navbar li a{
    text-decoration: none;
    color: white;
    font-family: "Manrope", sans-serif;
}
.navbar .home{
    color: #D4AF37;
}
.navbar li a:hover{
    color: #D4AF37;
}
.spandiv img{
    margin-left: 20px;
    height: 20px;
    width: 20px;
}

/*---------------
Hero section 
-----------------*/
.herosection{
    height: 800px;
    width: auto;
    background-image: linear-gradient(to right,
            rgba(11,11,11,.95) 0%,
            rgba(11,11,11,.85) 35%,
            rgba(11,11,11,.4) 70%,
            rgba(11,11,11,0) 100%
        ), url(./assets/herosection.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero{
    color: white;
    padding-left: 50px;
    padding-top: 150px;
    margin: 0;
}
.hero h4{
    font-size: 20px;
    margin: 0;
}
.hero h1{
    font-size: 60px;
    margin: 0;
}
.hero p{
    font-family: "Manrope", sans-serif;
}
.hero button{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: 1px solid #D4AF37;
    background-color: #D4AF37;
    border-color: #D4AF37;
    font-family: "Manrope", sans-serif;
    transition: all .35s ease;
    margin-right: 20px;
}
.hero .newarrival{
    background: white;
    border-color:white;
}
.hero .newarrival:hover{
    transform: translateY(-2px) scale(1.04);
    background-color: #BFC5CA;
}
.hero button:hover{
    transform: translateY(-2px) scale(1.04);
    background-color: #dbbf64;
}

/*---------------
Browse section and new arrival section
-----------------*/
.browse{
    text-align: center;
    margin-top: 80px;
}
.browse a{
   display: inline-flex;
}
.browse span{
    font-size: 25px;
    color: #D4AF37;
}
.browse h4{
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 0;
}
.browse p{
    margin-top: 5px;
}
.browse button img{
    width: 30px;
    height: 70px;
}
.browse button{
    width: 180px;
    height: 100px;
    margin-right: 20px;
    background-color: #dfdbd2;
    border-radius: 20px;
    transition: all .35s ease;
    border: 1px solid black;
}
.browse button:hover{
    cursor: pointer;
    background-color: #dbbf64;
    transform: translateY(-10px) scale(1.04);
    box-shadow:
    0 8px 15px rgba(0, 0, 0, 0.25),
    0 20px 40px rgba(0, 0, 0, 0.45);
}

/*---------
New Arrival section 
-----------*/
#newarrivalsection{
    /* background-color: #BFC5CA; */
    padding-top: 20px;
    padding-bottom: 20px;
}



/*---------
Card section 
-----------*/
.cardflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px; 
}
.card{
    cursor: pointer;
    /* background-color: white; */
    position: relative;
    box-shadow:
    0 8px 15px rgba(0, 0, 0, 0.25),
    0 20px 40px rgba(0, 0, 0, 0.45);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
    border: 2px solid #D4AF37 ;
    transition: all .35s ease;
}
.card:hover{
    background-color: #dbbf64;
    transform: translateY(-10px) scale(1.04);
}
.card h4{
    font-size: 30px;
}
.card .dis,.eye,.fev{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px; 
    border: 1px solid #D4AF37 ;
}
.card .dis{
    top: 15px;
    left: 15px;
    background-color: #D4AF37;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    color: white;
}
.card .eye:hover{
    background-color: #BFC5CA;
}
.card .eye,.fev{
    background-color: white;
    border-radius: 10px;
}

.card .fev{
    color: black;
    top: 15px;
    right: 15px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}
.card .fev:hover{
    color: red;
}
.card .eye{
    color: black;
    top: 15px;
    right: 60px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}
.card img{
    height: 350px;
    width: 280px;
}
.card hr{
    background-color: #0B0B0B;
    height: 1px;
    width: 70px;
    position: absolute;
    left: 120px;
}
.card .addtocart img{
    height: 20px;
    width: 20px;
    margin-top: 15px;
}

.card .addtocart{
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    background-color: #BFC5CA;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 40px;
    box-shadow:    
    0 8px 15px rgba(0, 0, 0, 0.25),
    0 20px 40px rgba(0, 0, 0, 0.45);
}

/*---------
choose flex card section 
-----------*/
.chooseflex{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}
.chooseflex .card h4{
    font-size: 20px;
}
#choose{
    padding-top: 20px;
}
.chooseflex .card{
    background-color: white;
    height: 150px;
    width: 300px;
    box-shadow: none;
}
.chooseflex .card:hover{
    cursor: default;
    background-color: #BFC5CA;
    transform: none;
}
.chooseflex .card .emoji{
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 30px;
    
}

/*---------
Voices section 
-----------*/
#voices .card{
    background-color: white;
    height: 150px;
    width: 400px;
    box-shadow: none;
}
#voices .card:hover{
    cursor: default;
}
#voices .card .cotation{
    position: absolute;
    margin-left: 250px;
    right: 15px;
    top: 0px;
    font-size: 70px;

}
#voices .card p{
    margin: 0;
}

/*---------
subscribe card section 
-----------*/

.subscribecard{
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 2px solid #D4AF37;
    width: 500px;
    height: auto;
    border-radius: 20px;
    
}
.subscribecard .mailicon{
    font-size: 30px;
    height: 50px;
    width: 50px;
    margin-left: 220px;
    border: 1px solid #D4AF37;
    border-color: #D4AF37;
    border-radius: 30px;
}
.subscribecard input{
    height: 30px;
    width: 300px;
}
.subscribecard button{
    height: 35px;
    width: 120px;
    background-color: #D4AF37;
    border: 1px solid #D4AF37;
    border-color: #D4AF37;
    color: white;
    transition: all .35s ease;
}
.subscribecard button:hover{
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow:    
    0 8px 15px rgba(0, 0, 0, 0.25),
    0 20px 40px rgba(0, 0, 0, 0.45);
}
.subscribecard .nospamtext{
    font-size: 12px;
    color: #BFC5CA;
}




/*---------
Footer section 
-----------*/

.footerdiv {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #0B0B0B;
    
}
.footerdiv img{
    height: 150px;
    width: 150px;
}
.footerdiv p{
    color: #BFC5CA;
}
.footerdiv span button{
    margin-top: 50px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 1px solid #D4AF37;
    border-color: #D4AF37;
}
.footerdiv span button a{
    text-decoration: none;
    color: #D4AF37;
}
.footerdiv ul{
    list-style: none;
    padding: 0;
}
.footerdiv li{
    margin-bottom: 15px;
    transition: all .35s ease;
}
.footerdiv li:hover{
    transform: translateX(3px);
}
.footerdiv ul li a{
    text-decoration: none;
    color: #BFC5CA;
}
.footershopdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #BFC5CA;
}
.footercontactus ul li{
    color: #BFC5CA;
}
.footercontactus ul li:hover{
    transform: translateX(3px);
}



.copyright{
    background-color: #0e0d0d60;
    text-align: center;
    color: white;
    padding: 20px;
}


/*---------
under construction page section 
-----------*/
.underconstruction{
    text-align: center;
}
.underconstruction img{

    height: 300px;
    width: 500px;
}



/*---------
For Mobile 
-----------*/
@media (max-width:480px){
    
   /* * {
    outline: 1px solid red;
} */

    .desktoplogo{
        display: none;
    }
    .mobilelogo{
        display: block;
    }
    .hamburger{
        display: block;
    }
    .navbar{
        display: none;
    }


    .mobilenavbar{
        display: block;
        margin-left: 40px;
    }
    #menu:checked ~ .nav{
        display:block;
    }
    .nav{
        display: none;
        position: absolute;
        top:70px;
        left:0;
        width:100%;
        background:#090909;
    }
    .nav ul{
        list-style: none;
        display:flex;
        flex-direction:column;
        padding:20px;
    }
    .nav li{
        text-align: center;
        margin:15px 0;
    }
    .nav li a{
        text-decoration: none;
        color: #BFC5CA;
    }
    .headerflex{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    header{
        position: sticky;
        top: 0px;
        z-index: 1000;
        padding-left: 20px;
        padding-right: 20px;
        height: 70px;
    }
    .headerlogo img{
        height: 40px;
        width: 40px;
    }
    .navbar ul li{
        font-size: 2px;
        margin-right: 12px;
    }
    .spandiv img{
        margin-left: 10px;
        height: 15px;
        width: 15px;
    }


    .hero{
        margin-left: 20px;
        margin-right: 20px;
        padding-right: 0;
        padding-left: 0px;
    }
    
    .hero h4{
        padding-right: 0;
        font-size: 15px;
        margin-top: 70px;
    }
    .hero h1{
        font-size: 40px;
    }
    .hero p{
        font-size: 12px;
    }
    .herosection{
        background-position: 70% center;
        height: 865px;
    }

    .browse{
        margin-right: 20px;
        margin-top: 40px;
        margin-left: 20px;
    }
    .browse button{
        margin-right: auto;
        margin-left: auto;
        width: 150px;
    }

    .cardflex{
        margin: 0;
        padding: 0;
        align-items: center;
        flex-direction: column;
    }
    .card{
        margin-left: 0px;
        width: 300px;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 10px;
        box-shadow: none;
    }
    
    #choose h4{
        font-size: 30px;
    }
    .chooseflex{
        padding-right: 0;
        padding-left: 0;
        
        align-items: center;
        flex-direction: column;
    }
    #choose .card{
        width: 277px;
        margin-left: 0;
    }


    #voices .card{
        width: 350px;
    }
    #voices{
        padding-left: 0;
    }


    .subscribecard{
        margin-right: auto;
        margin-left: auto;
        width: 350px;
    }
    .subscribecard .mailicon{
        margin-left: 150px;
    }
    .subscribecard input{
        width: 200px;
    }


    .footerdiv{
    flex-direction: column;
    }
    .footerdiv .footeropeningtime{
        margin-bottom:20px;
        margin-top: 20px;
    }
    .footerdiv .footercontactus{
        margin-top: 20px;
    }
    .footerdiv{
        padding-bottom: 20px;
    }

}


/*---------
For Bigger Screen
-----------*/
@media (max-width:1024px){
    
   /* * {
    outline: 1px solid red;
} */

    .desktoplogo{
        display: none;
    }
    .mobilelogo{
        display: block;
    }
    .hamburger{
        display: block;
    }
    .navbar{
        display: none;
    }


    .mobilenavbar{
        display: block;
        margin-left: 40px;
    }
    #menu:checked ~ .nav{
        display:block;
    }
    .nav{
        display: none;
        position: absolute;
        top:70px;
        left:0;
        width:100%;
        background:#090909;
    }
    .nav ul{
        list-style: none;
        display:flex;
        flex-direction:column;
        padding:20px;
    }
    .nav li{
        text-align: center;
        margin:15px 0;
    }
    .nav li a{
        text-decoration: none;
        color: #BFC5CA;
    }
    .headerflex{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    header{
        position: sticky;
        top: 0px;
        z-index: 1000;
        padding-left: 20px;
        padding-right: 20px;
        height: 70px;
    }
    .headerlogo img{
        height: 40px;
        width: 40px;
    }
    .navbar ul li{
        font-size: 2px;
        margin-right: 12px;
    }
    .spandiv img{
        margin-left: 10px;
        height: 15px;
        width: 15px;
    }


    .hero{
        margin-left: 20px;
        margin-right: 20px;
        padding-right: 0;
        padding-left: 0px;
    }
    
    .hero h4{
        padding-right: 0;
        font-size: 15px;
        margin-top: 70px;
    }
    .hero h1{
        font-size: 40px;
    }
    .hero p{
        font-size: 12px;
    }
    .herosection{
        background-position: 70% center;
        height: 865px;
    }

    .browse{
        margin-right: 20px;
        margin-top: 40px;
        margin-left: 20px;
    }
    .browse button{
        margin-right: auto;
        margin-left: auto;
        width: 150px;
    }

    .cardflex{
        margin: 0;
        padding: 0;
        align-items: center;
        flex-direction: column;
    }
    .card{
        margin-left: 0px;
        width: 300px;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 10px;
        box-shadow: none;
    }
    
   
    #choose h4{
        font-size: 30px;
    }
    .chooseflex{
        padding-right: 0;
        padding-left: 0;
        
        align-items: center;
        flex-direction: column;
    }
    #choose .card{
        width: 277px;
        margin-left: 0;
    }


    #voices .card{
        width: 350px;
    }
    #voices{
        padding-left: 0;
    }


    .subscribecard{
        margin-right: auto;
        margin-left: auto;
        width: 350px;
    }
    .subscribecard .mailicon{
        margin-left: 150px;
    }
    .subscribecard input{
        width: 200px;
    }


    .footerdiv{
    flex-direction: column;
    }
    .footerdiv .footeropeningtime{
        margin-bottom:20px;
        margin-top: 20px;
    }
    .footerdiv .footercontactus{
        margin-top: 20px;
    }
    .footerdiv{
        padding-bottom: 20px;
    }

}